.task-action {
    cursor: pointer;
}

.task {
    &--completed {
        color: gray;
        text-decoration: line-through;
    }
    &--pending {
        font-weight: bold;
        color: tomato;
    }
}